#menu li{
    
    display: inline;
     float:left;
     border-right: 2px solid blue;
     border-bottom: 3px solid orangered;
    
}

#menu li a{
    font-size: 26px;
    text-decoration: none;
    color:white;
    background: black;
    padding: 20px 50px;
    display: block;
   
    
}
    